<div>
<h2>勋章购买易</h2>
<ul>
		<ul>
					<li<!--{if !$action}--> class="current"<!--{/if}-->><a href="medaleasybuy.php">可购买勋章列表</a></li>
					<li<!--{if $action == 'log'}--> class="current"<!--{/if}-->><a href="medaleasybuy.php?action=log">查看购买记录</a></li>
                    <li><a href="space.php?action=viewpro&uid={$discuz_uid}" target="_blank">查看拥有的勋章</a></li>
		</ul>
</ul>

</div>

<!--{if $adminid == '1'}-->
<div>
<h2>后台管理</h2>
<ul>
		<ul>
			<li<!--{if $action == 'alllogs'}--> class="current"<!--{/if}-->><a href="medaleasybuyadmincp.php?action=alllogs">查看所有购买记录</a></li>
			<li<!--{if $action == 'set'}--> class="current"<!--{/if}-->><a href="medaleasybuyadmincp.php?action=set">插件设置</a></li>
		</ul>
</ul>
</div>
<!--{/if}-->

<div class="credits_info">
	<h2>{lang memcp_credits_info}</h2>
	<ul>
		<li>{lang credits}: $credits</li>
		<!--{loop $extcredits $id $credit}-->
		<li>
			<!--{if $id == $creditstrans}-->
			$credit[title]: <span style="font-weight: bold;">$GLOBALS['extcredits'.$id]</span> $credit[unit]
			<!--{else}-->
			$credit[title]: $GLOBALS['extcredits'.$id] $credit[unit]
			<!--{/if}-->
		</li>
		<!--{/loop}-->
	</ul>
</div>

     <div style="text-align:center">
                     <span style="font: normal 9px Verdana; display:block;">
                     <b>Medal EasyBuy</b><br />Ver 0.0.2 Build 20090119<br />For Discuz! 6.1/6.1F<br /></a>
                     <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank" title="第一原作者：Horse Luke（竹节虚） &amp; hzqedison">Licensed Under the Apache License, Version 2.0<br />Automatically Licensed to {$sitename}</a></span>
   </div>