{template header}

	<!--{if !($inajax)}--><div id="nav"><a href="$indexname">$bbname</a> &raquo; 勋章购买易[后台管理] &raquo; 插件设置&raquo; 已设置的可购买勋章列表管理</div><!--{/if}-->
	<div class="container">
        <!--{if !($inajax)}-->
		<div class="side">
			{template medaleasybuy_navbar}
		</div>

		
        <div class="content">
        <!--{/if}-->
                               
				<div class="mainbox formbox">
					<h1>可购买勋章列表管理</h1>
		         	<ul class="tabs">
				        <li class="current"><a href="medaleasybuyadmincp.php?action=set&op=medalcanbuysettings&set=list" <!--{if $inajax}--> onclick="ajaxget(this.href, 'medalcanbuylistdiv');doane(event);"<!--{/if}-->>可购买勋章列表</a></li>
			        	<li><a href="medaleasybuyadmincp.php?action=set&op=medalcanbuysettings&set=add" onclick="ajaxget(this.href, 'addmedal');doane(event);">添加勋章到可购买页面</a></li>
			           	<li>
                                <!--{if !($inajax)}-->
                                    <a href="medaleasybuyadmincp.php?action=set">返回设置首页</a>
                                <!--{else}-->
                                    <a href="javascript:void(0);" onclick="medalcanbuylistdiv.style.display = 'none'">关闭</a>
                                <!--{/if}-->  
                        </li>
		         	</ul>
                    <div id="addmedal" style="display: none; margin-top: 10px;"></div>
                    <table summary="medalcanbuylist" cellspacing="0" cellpadding="0">
					<thead><tr><td>{lang medals}</td><td>备注</td></tr></thead>
					<!--{if $medallist}-->
						<!--{loop $medallist $medal}-->
                        
                           <!--{if $medal[medalidcheck]==NULL}-->

							<tr>
							<td width="20%" class="attriblist"><b>不存在</b></td>
							<td>

                                     <form method="post" action="medaleasybuyadmincp.php?action=set&op=medalcanbuysettings&set=modify">
                                     <input type="hidden" name="formhash" value="{FORMHASH}" />
                                     <input type="hidden" name="action" value="modifymoneyamount" />
                                     <input type="hidden" name="medalid" value="$medal[medalid]" />
                                     <input type="hidden" name="moneyamountnew" value="0" />
                                     <input type="hidden" name="delmedal" value="{$medal[medalid]}" />
                                     <b>此勋章已被删除，你只允许删除该勋章遗留下来的购买价格配置</b>&nbsp;&nbsp;<button class="submit" type="submit" name="modifymoneyamount" id="modifymoneyamount" value="true">确认无误，开始删除</button>
                                     </form>
                            </td>
							</tr>


                           <!--{else}-->
                           
							<tr>
							<td width="20%" class="attriblist">
							<dl>
								<dt><img src="images/common/$medal[image]" alt="$medal[name]" /></dt>
								<dd class="name">$medal[name]</dd>
							</dl>
							</td>
							<td>
                                <div id="moneyamount{$medal[medalid]}"><b>购买价格：{$medal[moneyamount]} <a href="javascript:void(0);" onclick="moneyamountmodify{$medal[medalid]}.style.display = ''">（修改或删除）</a></b></div>
                                <div class="mainbox formbox" id="moneyamountmodify{$medal[medalid]}" style="display: none; margin-top: 10px;">
                                     <form method="post" action="medaleasybuyadmincp.php?action=set&op=medalcanbuysettings&set=modify">
                                     <input type="hidden" name="formhash" value="{FORMHASH}" />
                                     <input type="hidden" name="action" value="modifymoneyamount" />
                                     <input type="hidden" name="medalid" value="$medal[medalid]" />
                                     <!--{if $medal['type'] || $medal['available']==0}-->
                                     <input type="hidden" name="moneyamountnew" value="{$medal[moneyamount]}" />
                                         <!--{if $medal['available']==0}--><br /><b>该勋章被设置不可用状态，你只能删除或放弃修改，而不能修改购买价格。</b><!--{/if}-->
                                         <!--{if $medal['type']}--><br /><b>该勋章被设置为“用户申请”类别（即用户申请后由管理员后台审核），你只能删除或放弃修改，而不能修改购买价格。</b><!--{/if}-->
                                     <!--{else}-->
                                     <br /><b>请输入新的价格数值：</b><input type="text" name="moneyamountnew" size="10" value="" />
                                     <!--{/if}-->
                                     <br /><br /><label><input type="checkbox" name="delmedal" value="{$medal[medalid]}" />把此勋章从可购买列表上删除（不可恢复，慎重）</label>
                                     <br /><br /><button class="submit" type="submit" name="modifymoneyamount" id="modifymoneyamount" value="true">确认无误，开始修改或删除</button>&nbsp;<button type="button" onclick="moneyamountmodify{$medal[medalid]}.style.display = 'none'">放弃修改，返回</button><br />
                                     </form>
                                </div>
                                <div>
                            	$medal[description]<br />
								<!--{if $medal[expiration]}-->{lang medals_expiration} $medal[expiration] {lang medals_days} &nbsp; <!--{/if}-->
								<!--{if $medal[permission]}-->{lang medals_draw_condition} $medal[permission]<!--{/if}-->
                                <!--{if $medal['available']==0}--><br /><b>请注意：</b>该勋章被设置为不可用，前台不显示，将无法购买。<!--{/if}-->
                                <!--{if $medal['type']}--><br /><b>请注意：</b>该勋章被设置为“用户申请”类别（即用户申请后由管理员后台审核），因此前台将自动转向到系统内置的申请页面，而不能购买。<!--{/if}-->
                                </div>
                            </td>
							</tr>
                            
                           <!--{/if}--> 
                           
						<!--{/loop}-->
					<!--{else}-->
						<tr><td colspan="3">暂无数据</td></tr>
					<!--{/if}-->
					</table>
				</div>
                
                <div class="notice">提示：当价格为负值时，则表示反加回相应的积分数给购买者。<!--{if debuginfo() && $inajax}--><p id="debuginfo">用时{$debuginfo[time]}秒，查询{$debuginfo[queries]}次。</p><!--{/if}--></div>

				
	     
		<!--{if !($inajax)}-->		
		</div>
        <!--{/if}-->
	</div>


{template footer}