<div>
    <h2>统计Plus!选项</h2>
      <ul>
	      <li <!--{if $BASESCRIPT == 'statsplusspecialgroup.php'}--> class="current"<!--{/if}-->><a href="statsplusspecialgroup.php">对特殊用户组进行发帖统计</a></li>
      </ul>
</div>

<div class="box"><h4>↓以下是论坛自带统计↓</h4></div>
{template stats_navbar}



<div style="text-align:center">
        <span style="font: bold 10px Verdana; color: blue;">Statistic</span><span style="font: bold 15px Verdana; color: #f15a29;">Plus!</span><sup style="font: bold 8px; color:Teal;"> By Horse Luke</sup></a> &nbsp;  <span style="font: normal 8px; display:block;">{$moduleversion}<br /><a href="http://creativecommons.org/licenses/GPL/2.0/deed.zh" target="_blank">基于GUN GPL协议授权</a></span><a href="{$moduleversioncheck}" target="_blank"><b>检查新版本</b></a>
</div>


</div>